:global(#app) {
  .addButton {
    background: transparent;
    color: var(--nav-icon-color);
    margin-right: 0;
    vertical-align: top;

    &:hover {
      background: rgba(34, 36, 38, 0.3);
    }
  }

  .editButton {
    background: transparent;
    box-shadow: none;
    color: #fff;
    line-height: 32px;
    margin-right: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 32px;

    &:hover {
      background: rgba(255, 255, 255, 0.08);
    }
  }

  .link {
    color: var(--toggle-text);
    cursor: pointer;
    display: block;
    line-height: 21px;
    padding: 8px 14px;
    text-overflow: ellipsis;
    max-width: 400px;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
  }

  .tab {
    border-radius: 5px;
    min-width: 100px;
    position: relative;
    transition: all 0.1s ease;

    &:hover {
      background: var(--tab-hover-bg);

      .target {
        opacity: 1;
      }
    }
  }

  .tabActive {
    background: var(--tab-active-bg);

    &:hover {
      background: var(--tab-hover-bg);
    }

    .link {
      color: var(--text-color2);
      // font-weight: bold;
    }
  }

  .tabWrapper {
    display: flex;
    flex: 0 0 auto;
    margin: 0 3px;
  }

  .tabs {
    display: flex;
    height: 45px;
    flex: 0 0 auto;
    white-space: nowrap;
    border: 1px solid var(--tab-border);
    border-radius: 5px;
    padding: 3px 0px;
    background: var(--nav-background-color);
    font-weight: 600;
  }

  .tabsWrapper {
    display: flex;
    flex: 0 0 auto;
    height: 56px;
    overflow-x: auto;
    overflow-y: hidden;

    &:hover {
      height: 45px;
    }

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
    }
  }

  .wrapper {
    // border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 45px;
    overflow: hidden;
  }
}
