:global(#app) {
  .filter {
    margin-right: 10px;
  }

  .filterButton {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 0;
  }

  .filterItem {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin-right: 4px;
    max-width: 190px;
    vertical-align: top;
  }

  .filterLabel {
    background: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--text-color);
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    padding: 2px 8px;

    &:hover {
      background: var(--tab-active-bg);
    }
  }

  .filterTitle {
    border-radius: 3px;
    color: var(--text-color);
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 12px;
  }

  .search {
    height: 28px;
    margin: 0 12px;
    transition: width 0.2s ease;
    width: 280px;

    @media only screen and (max-width: 797px) {
      width: 220px;
    }

    input {
      font-size: 13px;
      border: 1px solid var(--text-color2);
      border-radius: 8px !important;
    }
  }

  .searchInactive {
    color: var(--text-color);
    height: 28px;
    width: 220px;

    input {
      background: var(--input-bg);
      border: 1px solid var(--border-color);
      color: var(--text-color) !important;
      font-size: 12px;
      border-radius: 8px !important;


      &::placeholder {
        color: var(--text-color);
      }
    }
  }
}
